[general]
state_file = /var/awslogs/state/agent-state

[/var/log/syslog]
file = /var/log/syslog
log_group_name = /var/log/syslog
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/auth.log]
file = /var/log/auth.log
log_group_name = /var/log/auth.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bbb-apps-akka/bbb-apps-akka.log]
file = /var/log/bbb-apps-akka/bbb-apps-akka.log
log_group_name = /var/log/bbb-apps-akka/bbb-apps-akka.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bbb-fsesl-akka/bbb-fsesl-akka.log]
file = /var/log/bbb-fsesl-akka/bbb-fsesl-akka.log
log_group_name = /var/log/bbb-fsesl-akka/bbb-fsesl-akka.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bbb-transcode-akka/bbb-transcode.log]
file = /var/log/bbb-transcode-akka/bbb-transcode.log
log_group_name = /var/log/bbb-transcode-akka/bbb-transcode.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bbb-webrtc-sfu/bbb-webrtc-sfu.log]
file = /var/log/bbb-webrtc-sfu/bbb-webrtc-sfu.log
log_group_name = /var/log/bbb-webrtc-sfu/bbb-webrtc-sfu.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bigbluebutton/bbb-web.log]
file = /var/log/bigbluebutton/bbb-web.log
log_group_name = /var/log/bigbluebutton/bbb-web.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bigbluebutton/post_publish.log]
file = /var/log/bigbluebutton/post_publish.log
log_group_name = /var/log/bigbluebutton/post_publish.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bigbluebutton/sanity.log]
file = /var/log/bigbluebutton/sanity.log
log_group_name = /var/log/bigbluebutton/sanity.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/bigbluebutton/bbb-rap-worker.log]
file = /var/log/bigbluebutton/bbb-rap-worker.log
log_group_name = /var/log/bigbluebutton/bbb-rap-worker.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/kurento-media-server]
file = /var/log/kurento-media-server/*.log
log_group_name = /var/log/kurento-media-server
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/letsencrypt/letsencrypt.log]
file = /var/log/letsencrypt/letsencrypt.log
log_group_name = /var/log/letsencrypt/letsencrypt.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/mongodb/mongod.log]
file = /var/log/mongodb/mongod.log
log_group_name = /var/log/mongodb/mongod.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/redis/redis-server.log]
file = /var/log/redis/redis-server.log
log_group_name = /var/log/redis/redis-server.log
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/red5]
file = /var/log/red5/*.log
log_group_name = /var/log/red5
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

[/var/log/nginx]
file = /var/log/nginx/*.log
log_group_name = /var/log/nginx
log_stream_name = {instance_id}
datetime_format = %b %d %H:%M:%S

