[general]
state_file = /var/awslogs/state/agent-state
 
[/var/log/syslog]
file = /var/log/syslog
log_group_name = SYSTEMLOGS_PLACEHOLDER
log_stream_name = {instance_id}-syslog
datetime_format = %b %d %H:%M:%S

[/var/log/auth.log]
file = /var/log/auth.log
log_group_name = SYSTEMLOGS_PLACEHOLDER
log_stream_name = {instance_id}-auth.log
datetime_format = %b %d %H:%M:%S

[/var/log/letsencrypt/letsencrypt.log]
file = /var/log/letsencrypt/letsencrypt.log
log_group_name = SYSTEMLOGS_PLACEHOLDER
log_stream_name = {instance_id}-letsencrypt.log
datetime_format = %b %d %H:%M:%S

[/var/log/coturn.log]
file = /var/log/coturn.log
log_group_name = APPLICATIONLOGS_PLACEHOLDER
log_stream_name = {instance_id}-coturn.log
datetime_format = %b %d %H:%M:%S